src/travel/index.html
<html lang="en"><!DOCTYPE html><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><meta property="og:site_name" content="FBS"><meta property="og:title" content="Your basic income covers only basic needs? FBS is your lucky&amp;nbsp;ticket to&amp;nbsp;the&amp;nbsp;journey of&amp;nbsp;the dream!"><meta property="og:description" content="undefined What do we offer?"><meta property="og:type" content="website"><link rel="stylesheet" href="./style/main.css"></head><body><!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MD3F98" height="0" width="0" style="display:none;visibility:hidden;"></iframe><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-MD3F98');</script></noscript><!-- End Google Tag Manager --><section class="promo"><div class="promo__header"><div class="container"><a class="logo" href="https://fbs.com" target="_blank"><img src="./i/logo.png" width="90" height="90" alt="Go to FBS"></a><div class="h1 promo__sub">Your basic income covers only basic needs?</div></div></div><div class="promo__ticket"><div class="ticket"><div class="ticket__wrapper"><h1 class="ticket__title">FBS is your lucky&nbsp;ticket to&nbsp;the&nbsp;journey of&nbsp;the dream!</h1><div class="ticket__form"><form class="form" method="POST" action="https://my.fbs.com/registration/?lang=en"><div class="form__group"><input class="form__input is-block" type="text" name="RegistrationForm[name]" placeholder="Your full name"/></div><div class="form__group"><input class="form__input is-block" type="email" name="RegistrationForm[email]" placeholder="E-mail"/><input type="hidden" name="RegistrationForm[tariff]" value="stand"/></div><div class="form__group form__group--sm text-center"><div class="js-checkbox checkbox" role="checkbox" tabindex="0"><input class="checkbox__input" type="checkbox" name="RegistrationForm[agreeWithTerms]" value="1" id="fbs105"/><label class="checkbox__label" for="fbs105"><i class="checkbox__icon"></i> I accept Customer <a href="https://my.fbs.com/upload/agreement_en.pdf" target="_blank">Agreement</a> conditions and accept all risks inherent with trading operations on the world financial markets.</label></div></div><button class="btn btn--brand is-fx-width">Open account</button></form></div></div></div></div><div class="slogan"><h2 class="slogan__title">What do we offer?</h2><div class="slogan__sub">Additional income, that will help to make your ultimate dreams come true!</div><div class="slogan__sub">You don’t need to&nbsp;set money aside for&nbsp;years, to&nbsp;go&nbsp;off on&nbsp;a&nbsp;journey.</div></div></section><section class="benefits"><div class="container"><h2 class="benefits__title">Why is FOREX trading is the first choice <br> when talking about additional income?</h2></div><div class="container container--fluid"><div class="col-sm-6 col-lg-3"><div class="benefit"><div class="benefit__thumb"><i class="i i--plane"></i></div><div class="benefit__body"><h3 class="benefit__title">Quick profits</h3><div class="benefit__desc">Trader's profit could many times exceed the invested funds. The amount of money in circulation is growing like a rolling snowball.</div></div></div></div><div class="col-sm-6 col-lg-3"><div class="benefit"><div class="benefit__thumb"><i class="i i--hand"></i></div><div class="benefit__body"><h3 class="benefit__title">No fixed office hours</h3><div class="benefit__desc">Trading on Forex is not tied to a specific time – you can work when it is comfortable for you. For example, trade with application at your smartphone while having coffee break at your main job.</div></div></div></div><div class="col-sm-6 col-lg-3"><div class="benefit"><div class="benefit__thumb"><i class="i i--amchair"></i></div><div class="benefit__body"><h3 class="benefit__title">Agreeable pastime</h3><div class="benefit__desc">Trading on Forex is not only work, but also a favorite hobby of millions of people around the world. If you have an analytical mind, then you will for sure fall in love with learning new strategies and analyzing the market.</div></div></div></div><div class="col-sm-6 col-lg-3"><div class="benefit"><div class="benefit__thumb"><i class="i i--balloon"></i></div><div class="benefit__body"><h3 class="benefit__title">Profit withdrawal is easy as a pie</h3><div class="benefit__desc">You can withdraw your profit at any time, for example if you have gained enough money to go off on a journey of your dream.</div></div></div></div></div></section><div class="bg-group"><section class="bullets"><h2 class="bullets__title">WHY CHOOSE FBS?</h2><div class="bullet"><div class="bullet__thumb"><i class="i i--hat"></i></div><div class="bullet__body"><h3 class="bullet__title">Learning opportunities</h3><div class="bullet__desc">Even if you've never traded on Forex before, our training seminars and webinars will help you quickly understand the basics. You are welcome to use expert reviews from our leading financial analysts, which will help you make the right decisions for increasing your profit.</div></div></div><div class="bullet"><div class="bullet__thumb"><i class="i i--cup"></i></div><div class="bullet__body"><h3 class="bullet__title">Promotions and bonuses</h3><div class="bullet__desc">We offer the most favorable conditions to start your career in trading. Create an account and choose a preferred monetary bonus, and all the income you get from it is completely yours!</div></div></div><div class="bullet"><div class="bullet__thumb"><i class="i i--man"></i></div><div class="bullet__body"><h3 class="bullet__title">24/7 support in your native language</h3><div class="bullet__desc">If you have any questions, our support team is always ready to help. They will promptly answer all your questions about trading through chat or by phone.</div></div></div><div class="bullet"><div class="bullet__thumb"><i class="i i--money"></i></div><div class="bullet__body"><h3 class="bullet__title">Convenient financial transactions</h3><div class="bullet__desc">FBS supports deposit and withdrawal of funds via a variety of international and local payment systems and banks.</div></div></div></section><footer class="page-footer"><div class="container"><div class="page-footer__form"><form class="form" method="POST" action="https://my.fbs.com/registration/?lang=en"><div class="form__group"><input class="form__input is-block" type="text" name="RegistrationForm[name]" placeholder="Your full name"/></div><div class="form__group"><input class="form__input is-block" type="email" name="RegistrationForm[email]" placeholder="E-mail"/><input type="hidden" name="RegistrationForm[tariff]" value="stand"/></div><div class="form__group form__group--sm text-center"><div class="js-checkbox checkbox" role="checkbox" tabindex="0"><input class="checkbox__input" type="checkbox" name="RegistrationForm[agreeWithTerms]" value="1" id="fbs164"/><label class="checkbox__label" for="fbs164"><i class="checkbox__icon"></i> I accept Customer <a href="https://my.fbs.com/upload/agreement_en.pdf" target="_blank">Agreement</a> conditions and accept all risks inherent with trading operations on the world financial markets.</label></div></div><button class="btn btn--brand is-fx-width">Open account</button></form></div><a class="page-footer__e" href="mailto:support@fbs.com" target="_blank">support@fbs.com</a><div class="page-footer__c">© 2017 FBS Market inc.</div></div></footer></div><script>WebFontConfig = {
  google: { families: [ 'Open+Sans:300,400,600,600i&amp;subset=latin-ext,vietnamese' ] }
};
</script><script>(function() {
  var wf = document.createElement('script');
  wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
    '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
  wf.type = 'text/javascript';
  wf.async = 'true';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(wf, s);
})();</script></body></html>

src/travel/index.pug
extends ../common/_layout
block vars
  -
    const PROD = false;
  include ./_project_mixins

block content
  section.promo
    //- +
    .promo__header
      .container
        a.logo(href=$.site target="_blank"): img(src="./i/logo.png" width="90" height="90" alt="Go to FBS")
        .h1.promo__sub!= $.p0
    .promo__ticket
      .ticket
        .ticket__wrapper
          h1.ticket__title!= $.p1
          .ticket__form
            +form
    //- +
    .slogan
      h2.slogan__title!=$.p3
      .slogan__sub!= $.p4
      .slogan__sub!= $.p5
  //- +
  section.benefits
    .container
      h2.benefits__title!= $.p6
    .container.container--fluid
      each benefit in benefits
        +benefit(benefit)
  .bg-group
    //- +
    section.bullets
      h2.bullets__title!= $.p15.toUpperCase()
      each bullet in bullets
        +bullet(bullet)
    //- +
    footer.page-footer
      .container
        .page-footer__form
          +form
        a.page-footer__e(href="mailto:support@fbs.com" target="_blank") support@fbs.com
        .page-footer__c © 2017 FBS Market inc.

  case $.lang
    //- when ('id' || 'ms' || 'vi')
    when 'vi'
      style.
        .slogan {
          max-width: 680px;
        }
        @media(min-width:768px) {
          .slogan::before { background-position: 125px 10px;}
        }
    when 'ms'
      style.
        .slogan {
          max-width: 680px;
        }
        @media(min-width:768px) {
          .slogan::before { background-position: 125px 10px;}
        }

    when 'id'
      style.
        .slogan {
          max-width: 680px;
        }
        @media(min-width:768px) {
          .slogan::before { background-position: 125px 10px;}
        }

    when 'ja'
      style.
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
          font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        }
    when 'my'
      style.
        .ticket::before {
          display: none;
        }

      script.
        WebFontConfig = {
          google: { families: [ 'Padauk:400,700&amp;subset=myanmar' ] }
        };
    default
      script.
        WebFontConfig = {
          google: { families: [ 'Open+Sans:300,400,600,600i&amp;subset=latin-ext,vietnamese' ] }
        };

  if $.lang !=='ja'
    script.
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
